{% extends 'base.html' %}
{% block content %}


<div class="col-lg-5 position-relative position-absolute top-1 start-50 translate-middle-x">
    
    <div class="box-element  " >
        <div class="d-flex justify-content-center" >
        <img class="img" src="{{store.image}}"  width="500px" height="500px">
        <h6 class="d-flex justify-content-center" >Description:<br> {{store.description}}</h6>
        </div>
        
        <h6><strong>Code: {{store.code}}</strong></h6>
        <h6><strong>Product: {{store.name}}</strong></h6>
        <h6><strong>Date release: {{store.date}}</strong></h6>
        <h6><strong>Category: {{store.category}}</strong></h6>       
        <h3 style="display: inline-block; float: right  "><strong>Price: ${{store.price}}</strong></h3>
        <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
       
    </div> 
        
</div>
   
 

{% endblock content %}